---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero h-full relative">
    <div
      class="container h-screen mx-auto hero-content text-center z-10 flex flex-col justify-center items-center"
    >
      <h1
        data-sal="slide-up"
        data-sal-delay="100"
        class="max-w-[86.4rem] mb-24 md:mb-32 text-h1 md:text-h1"
      >
        Pirkimo pardavimo taisyklės
      </h1>
    </div>
    <div class="hero-scroll">
      <img
        class="mouse-animation"
        src="/assets/media/mouse.svg"
        alt="mouse"
        width="32"
        height="32"
        class="w-[3.2rem]"
      />
    </div>
  </section>
  <div class="md:py-96 py-56 container mx-auto class=" text-medium"">
    <section id="content" class="page-content page-cms page-cms-10">
      <p class="text-h2"><strong>1. Bendrosios nuostatos</strong></p>
      <p class="text-medium">
        1.1. Šios prekių pirkimo – pardavimo taisyklės (toliau „Taisyklės“), yra
        juridiškai šalims privalomas dokumentas, kuriame nustatomos Pirkėjo ir
        Pardavėjo teisės, pareigos ir atsakomybė, įsigyjant prekes elektroninėje
        parduotuvėje www.tipsters.lt (toliau – “e-parduotuvė”).
      </p>
      <p class="text-medium">
        1.2. Pardavėjas pasilieka teisę bet kuriuo metu pakeisti, taisyti ar
        papildyti Taisykles, atsižvelgdamas į LR teisės aktų nustatytus
        reikalavimus.
      </p>
      <p class="text-h2">
        <strong>2. Pirkimo – pardavimo sutarties sudarymo momentas</strong>
      </p>
      <p class="text-medium">
        2.1. Sutartis tarp Pirkėjo ir pardavėjo laikoma sudaryta nuo to momento,
        kai Pirkėjas e-parduotuvėje suformuoja prekių krepšelį, nurodo
        pristatymo adresą, pasirenka apmokėjimo būdą ir susipažinęs su
        Taisyklėmis, paspaudžia mygtuką “Patvirtinti užsakymą”
      </p>
      <p class="text-h2"><strong>3. Pardavėjo teisės</strong></p>
      <p class="text-medium">
        3.1. Susidarius svarbioms aplinkybėms, Pardavėjas gali laikinai arba iš
        viso nutraukti e-parduotuvės veiklą, apie tai iš anksto nepranešę
        Pirkėjui.
      </p>
      <p class="text-medium">
        3.2. Jei Pirkėjas bando pakenkti e-parduotuvės darbui, stabilumui ir
        saugumui ar pažeidžia savo įsipareigojimus, Pardavėjas turi teisę be
        perspėjimo apriboti ar sustabdyti jam galimybę naudotis e-parduotuve
        arba išskirtiniais atvejais panaikinti Pirkėjo registraciją.
      </p>
      <p class="text-medium">
        3.3. Pardavėjas pasilieka sau teisę vienašališkai pakeisti šių taisyklių
        sąlygas be išankstinio įspėjimo.
      </p>
      <p class="text-medium">
        3.4. Pardavėjas turi teisę iš anksto nepranešęs Pirkėjui anuliuoti jo
        užsakymą, jeigu Pirkėjas, nesumoka už prekes per 5 (penkias) darbo
        dienas, nebent abi šalys susitaria kitaip.
      </p>
      <p class="text-medium">
        3.5. Visus pranešimus tarp šalių siųsti Pirkėjo registracijos formoje
        pateiktais elektroninio pašto adresais.
      </p>
      <p class="text-h2">
        <strong>4. Pardavėjo įsipareigojimai ir atsakomybė</strong>
      </p>
      <p class="text-medium">
        4.1. Pardavėjas įsipareigoja sudaryti visas sąlygas Pirkėjui tinkamai
        naudotis e-parduotuvės teikiamomis paslaugomis.
      </p>
      <p class="text-medium">
        4.2. Pardavėjas įsipareigoja pristatyti Pirkėjo užsakytas prekes,
        Pirkėjo nurodytu adresu ir per sutartą pristatymo laikotarpį.
      </p>
      <p class="text-medium">
        4.3. Pardavėjas, susidarius svarbioms aplinkybėms, negalėdamas Pirkėjui
        pristatyti užsakytos prekės, įsipareigoja Pirkėjui pasiūlyti analogišką
        prekę, o Pirkėjui atsisakius priimti prekės analogą, grąžinti sumokėtus
        pinigus per tris darbo dienas, jei Pirkėjas atliko išankstinį
        apmokėjimą.
      </p>
      <p class="text-medium">
        4.4. Pirkėjui pasinaudojus Taisyklių 5.2. punkte numatyta teise,
        Pardavėjas įsipareigoja grąžinti Pirkėjui sumokėtus pinigus per 10
        (dešimt) darbo dienų, skaičiuojamų nuo grąžinamos prekės gavimo dienos.
      </p>
      <p class="text-medium">
        4.5. Jei Pirkėjas nepateikia tikslių duomenų registracijos formoje,
        Pardavėjas neatsako už dėl to atsiradusius padarinius.
      </p>
      <p class="text-medium">
        4.6. Pardavėjas neatsako už kituose tinklalapiuose pateiktą informaciją,
        net jeigu Pirkėjas patenka į šiuos tinklalapius per Pardavėjo
        e-parduotuvėje esančias nuorodas.
      </p>
      <p class="text-medium">
        4.7. Pardavėjas pateikia prekes Pirkėjui vadovaudamasis prekių
        aprašymuose nurodytais terminais. Šie terminai yra preliminarūs, be to
        netaikomi tais atvejais, kai Pardavėjo sandėlyje nėra reikiamų prekių, o
        Pirkėjas informuojamas apie jo užsakytų prekių trūkumą. Kartu Pirkėjas
        sutinka, jog išimtinais atvejais prekių pateikimas gali vėluoti dėl
        nenumatytų, nuo Pardavėjo nepriklausančių aplinkybių. Tokiu atveju
        Pardavėjas įsipareigoja nedelsiant susisiekti su Pirkėju ir suderinti
        prekių pateikimo sąlygas.
      </p>
      <p class="text-medium">
        4.8. Visais atvejais Pardavėjas atleidžiamas nuo atsakomybės už prekių
        pateikimo terminų pažeidimą, jeigu prekės Pirkėjui nėra pateikiamos arba
        pateikiamos ne laiku dėl Pirkėjo kaltės arba dėl nuo Pirkėjo
        priklausančių aplinkybių.
      </p>
      <p class="text-medium">
        4.10. Pardavėjas neatsako už tai, kad e-parduotuvėje esančios prekės
        savo spalva, forma ar kitais parametrais gali neatitikti realaus prekių
        dydžio, formų ir spalvos dėl Pirkėjo naudojamo vaizduoklio ypatybių.
      </p>
      <p class="text-h2"><strong>5. Pirkėjo teisės</strong></p>
      <p class="text-medium">
        5.1. Pirkėjas turi teisę pirkti prekes e-parduotuvėje šių taisyklių ir
        e-parduotuvės nustatyta tvarka.
      </p>
      <p class="text-medium">
        5.2. Pirkėjas turi teisę atsisakyti prekių pirkimo – pardavimo
        sutarties, sudarytos su e-parduotuve, pranešdamas apie tai Pardavėjui
        raštu (elektroniniu paštu, nurodant pageidaujamą grąžinti prekę ir jos
        užsakymo numerį) ne vėliau kaip per 14 (keturiolika) darbo dienų nuo
        daikto pristatymo dienos, išskyrus atvejus, numatytus teisės aktuose dėl
        Daiktų keitimo ir grąžinimo tvarkos, taip pat jei sutartis sudaryta dėl
        nekeičiamų ir negrąžinamų daiktų, kurių sąrašas nustatytas Mažmeninės
        prekybos taisyklėse. Prekė negražinama, jeigu buvo sugadinta arba iš
        esmės pasikeitė jos išvaizda, taip pat jeigu ji buvo naudojama.
      </p>
      <p class="text-medium">
        5.3. Turi teisę keisti ir/ar atnaujinti registracijos formoje pateiktą
        informaciją.
      </p>
      <p class="text-medium">
        5.4. Visus pranešimus tarp šalių ir klausimus siųsti e-parduotuvės
        skyriuje “Kontaktai” nurodytu adresu ar elektroninio pašto adresu.
      </p>
      <p><strong>6. Pirkėjo įsipareigojimai ir atsakomybė</strong></p>
      <p class="text-medium">
        6.1. Pirkėjas, naudodamasis e-parduotuve, patvirtina, kad sutinka su
        šiomis pirkimo – pardavimo taisyklėmis ir privalo jų laikytis.
      </p>
      <p class="text-medium">
        6.2. Pirkėjas privalo sumokėti už prekes ir priimti jas šių Taisyklių
        nustatyta tvarka.
      </p>
      <p class="text-medium">
        6.3. Pirkėjas neturi teisės reikšti Pardavėjui pretenzijų dėl prekių
        pristatymo netinkamam subjektui, jeigu neteisingai nurodytas pristatymo
        adresas.
      </p>
      <p class="text-medium">
        6.4. Pirkėjas yra visiškai atsakingas už registracijos formoje pateiktų
        duomenų teisingumą.
      </p>
      <p class="text-medium">
        6.5. Pirkėjas atsako už veiksmus, tyčia ar netyčia atliktus naudojantis
        e-parduotuve.
      </p>
      <p class="text-medium">
        6.7. Prekių pristatymo Pirkėjui metu Pirkėjas privalo kartu su Pardavėju
        arba su asmeniu prisačiusiu siuntą patikrinti siuntos ir prekės(-ių)
        būklę bei pasirašyti sąskaitą faktūrą, važtaraštį ar kitą siuntos
        perdavimo – priėmimo dokumentą. Pirkėjui pasirašius sąskaitoje
        faktūroje, važtaraštyje ar kitame siuntos perdavimo – priėmimo
        dokumente, laikoma, kad siunta yra perduota tinkamos būklės, prekių
        pažeidimų, kurių atsiradimo pagrindas priskirtinas ne gamykliniam
        brokui, bei prekės(-ių) komplektacijos neatitikimų (tokių, kuriuos
        galima nustatyti išorinės prekių apžiūros metu) nėra. Nustačius siuntos
        pakuotės pažeidimą, Pirkėjas ar, atsižvelgiant į atvejį, Pirkėjo
        atstovas turi teisę siuntos nepriimti. Tokiu atveju kurjerių paslaugas
        teikiančios organizacijos atstovas kartu su Pirkėju ar, atsižvelgiant į
        atvejį, Pirkėjo atstovu užpildo specialų siuntų patikrinimo aktą,
        kuriame nurodo rastus pažeidimus. Pirkėjui neatlikus šių veiksmų,
        Pardavėjas yra atleidžiamas nuo atsakomybės prieš Pirkėją dėl prekių
        pažeidimų, jeigu tokių pažeidimų atsiradimo pagrindas nėra gamyklinis
        brokas bei dėl prekių komplektacijos neatitikimų, jeigu šiuos
        neatitikimus galima nustatyti išorinės prekių apžiūros metu.
      </p>
      <p class="text-medium">
        6.8. Pardavėjas atleidžiamas nuo bet kokios atsakomybės tais atvejais,
        kai nuostoliai kyla dėl to, jog Pirkėjas, neatsižvelgdamas į Pardavėjo
        rekomendacijas ir savo įsipareigojimus, nesusipažino su šiomis
        Taisyklėmis, nors tokia galimybė jam buvo suteikta.
      </p>
      <p class="text-h2">
        <strong>
          7. Prekių kaina, apmokėjimas, pristatymas ir garantinės sąlygos.
        </strong>
      </p>
      <p class="text-medium">
        7.1. Prekių kainos e-parduotuvėje ir suformuotame užsakyme nurodomos
        Eurais su PVM.
      </p>
      <p class="text-medium">
        7.2. Pirkėjas atsiskaito už prekes vienu iš jo pasirinktų būdų:
      </p>
      <p class="text-medium">
        7.2.1. Apmokėjimas naudojantis elektronine bankininkyste – tai
        išankstinis apmokėjimas, pasinaudojant Pirkėjo naudojama elektroninės
        bankininkystės sistema. Pinigus Pirkėjas perveda į atitinkamame jo
        pasirinktame banke esančią e-parduotuvės sąskaitą. Atsakomybė už duomenų
        saugumą šiuo atveju tenka atitinkamam bankui, kadangi visos piniginės
        operacijos vyksta banko elektroninės bankininkystės sistemoje.
      </p>
      <p class="text-medium">
        7.2.2. Apmokėjimas banko pavedimu – tai išankstinis apmokėjimas, kai
        Pirkėjas, atsispausdinęs išankstinio mokėjimo sąskaitą - užsakymą ir
        nuėjęs į artimiausią banko skyrių, perveda pinigus į e-parduotuvės banko
        sąskaitą kuri nurodyta išankstinio mokėjimo sąskaitoje - užsakyme.
      </p>
      <p class="text-medium">7.2.2. Paysera sistemas.</p>
      <p class="text-medium">
        7.2.3. Apmokėjimas pardavėjui arba kurjeriui prekių pristatymo momentu.
      </p>
      <p class="text-medium">
        7.3. Tik gavęs apmokėjimą už prekes arba Pirkėjui patvirtinus užsakymą
        (taikoma kai pirkėjas pasirenka atsiskaitymą pristatymo metu),
        Pardavėjas pradeda formuoti prekių siuntinį ir pradedamas skaičiuoti
        prekių pristatymo terminas.
      </p>
      <p class="text-medium">
        7.4. Pardavėjas tam tikroms prekių rūšims suteikia tam tikrą laiką
        galiojančią daiktų kokybės garantiją, kurios konkretus terminas ir kitos
        sąlygos nurodomi tokių prekių aprašymuose. Tuo atveju, kai Pardavėjas
        tam tikroms prekių rūšims daiktų kokybės garantijos nesuteikia, galioja
        garantija, numatyta atitinkamų teisės aktų.
      </p>
    </section>
  </div>
</Layout>
