---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero h-full relative">
    <div
      class="container h-screen mx-auto hero-content text-center z-10 flex flex-col justify-center items-center"
    >
      <h1
        data-sal="slide-up"
        data-sal-delay="100"
        class="max-w-[86.4rem] mb-24 md:mb-32 text-h1 md:text-h1"
      >
        Privatumo politika
      </h1>
    </div>
    <div class="hero-scroll">
      <img
        class="mouse-animation"
        src="/assets/media/mouse.svg"
        alt="mouse"
        width="32"
        height="32"
        class="w-[3.2rem]"
      />
    </div>
  </section>
  <div class="md:py-96 py-56 container mx-auto class=" text-medium"">
    <section id="content" class="page-content page-cms page-cms-6">
      <p class="text-medium">
        www.tipsters.lt visada saugo savo klientų privatumą, todėl čia aiškiai
        ir skaidriai pateikiame mūsų interneto svetainėje taikomus informacijos
        apie lankytojus rinkimo ir naudojimo principus.
      </p>
      <p class="text-medium">
        Šią Privatumo politiką (toliau – Politika) taikome tais atvejais, kai
        lankotės www.tipsters.lt interneto svetainėje ar užpildote registracinę
        formą.
      </p>
      <p class="text-medium">
        Mūsų interneto svetainės lankytojų duomenis renkame laikydamiesi
        Lietuvos Respublikos asmens duomenų teisinės apsaugos įstatymo, Lietuvos
        Respublikos elektroninių ryšių įstatymo, kitų susijusių teisės aktų bei
        kontroliuojančių institucijų nurodymų.
      </p>
      <p class="text-h3 my-24"><strong>Renkami duomenys</strong></p>
      <p class="text-medium">
        Administruodami interneto svetainę bei diagnozuodami sutrikimus
        tipsters.lt serverio darbe, galime naudoti lankytojų kompiuterių IP
        adresus. IP adresas – tai kompiuterį identifikuojantis unikalus kodas
        kompiuteriniuose tinkluose. Jis gali būti naudojamas nustatant lankytoją
        ir renkant įvairią demografinę informaciją. Tai daro absoliučios
        daugumos interneto serverių administratoriai.
      </p>
      <p class="text-medium">
        Naudodami slapukus renkame duomenis apie paslaugų naudojimą. Slapukų
        tipai ir jų paskirtis yra pateikti <a
          href="https://tipsters.lt/lt/content/9-slapuku-politika"
          >Slapukų politikoje</a
        >.
      </p>
      <p class="text-medium">
        Užpildžius www.tipsters.lt registracinę formą renkame kliento
        identifikavimui būtiną pagrindinę informaciją, kurią pateikiate
        pildydami formą, t. y. vardą, pavardę, elektroninio pašto adresą ir
        telefono numerį.
      </p>
      <p class="text-medium">
        Surinktus duomenis apie tipsters.lt svetainės lankytojus atsakingai
        saugome nuo praradimo, neleistino naudojimo ir pakeitimų.
        www.tipsters.lt darbuotojai yra raštiškai įsipareigoję trečiosioms
        šalims neatskleisti ir neplatinti darbo vietoje gaunamos informacijos
        klientus, įskaitant ir www.tipsters.lt svetainės lankytojus.
        www.tipsters.lt svetainės lankytojų duomenis sauganti duomenų bazė yra
        apsaugota nuo neleistinos prieigos per kompiuterinius tinklus.
      </p>
      <p class="text-h3 my-24">
        <strong>Kaip ilgai saugome Jūsų duomenis?</strong>
      </p>
      <p class="text-medium">
        www.tipsters.lt saugo savo klientų asmens duomenis ne ilgiau, negu to
        reikalauja duomenų tvarkymo tikslai ar numato teisės aktai, jeigu juose
        yra nustatytas ilgesnis duomenų saugojimas. Siekiame nesaugoti
        pasenusios arba nereikalingos informacijos ir užtikrinti, kad asmens
        duomenys ir kita informacija apie klientus būtų nuolat atnaujinta ir
        teisinga.
      </p>
      <p class="text-medium">
        Mūsų svetainėje yra nuorodų į kitų asmenų, įmonių ar organizacijų
        interneto tinklalapius. Atkreipiame dėmesį, kad tipsters.lt nėra
        atsakinga už tokių interneto tinklalapių turinį ar jų naudojamus
        privatumo užtikrinimo principus. Tad jei paspaudę nuorodą iš
        www.tipsters.lt interneto svetainės pateksite į kitus tinklalapius,
        turėtumėte atskirai pasidomėti jų privatumo politika.
      </p>
      <p class="text-h3 my-24"><strong>Jūs turite teisę:</strong></p>
      <ul>
        <li>
          <p class="text-medium">
            kreiptis į www.tipsters.lt su prašymu suteikti informaciją apie
            www.tipsters.lt tvarkomus Jūsų asmens duomenis;
          </p>
        </li>
        <li>
          <p class="text-medium">
            kreiptis į www.tipsters.lt su prašymu ištaisyti Jūsų asmens duomenis
            ir (arba) sustabdyti tokių asmens duomenų tvarkymo veiksmus,
            išskyrus saugojimą, tuo atveju, kai, susipažinę su asmens
            duomenimis, Jūs nustatote, kad duomenys yra neteisingi, neišsamūs ar
            netikslūs;
          </p>
        </li>
        <li>
          <p class="text-medium">
            kreiptis į www.tipsters.lt su prašymu sunaikinti asmens duomenis ar
            sustabdyti tokių asmens duomenų tvarkymo veiksmus, išskyrus
            saugojimą, tuo atveju, kai, susipažinę su savo asmens duomenimis,
            Jūs nustatote, kad asmens duomenys yra tvarkomi neteisėtai arba
            nesąžiningai;
          </p>
        </li>
        <li>
          <p class="text-medium">
            nesutikti, kad būtų tvarkomi Jūsų asmens duomenys, kai šie duomenys
            tvarkomi ar ketinami tvarkyti tiesioginės rinkodaros tikslais, arba
            dėl teisėto intereso, kurio siekia www.tipsters.lt arba trečiasis
            asmuo, kuriam teikiami asmens duomenys.
          </p>
        </li>
        <li>
          <p class="text-medium">
            Jei dėl šioje privatumo politikoje pateiktos informacijos Jums
            iškiltų klausimų, maloniai prašome kreiptis į www.tipsters.lt bet
            kuriuo Jums patogiu būdu:
          </p>
        </li>
      </ul><p class="text-medium">
        raštu – el. paštu <a href="mailto:info@tipsters.lt"
          >klientams@tipsters.lt</a
        >;
      </p>
      <p class="text-medium">žodžiu – tel. nr. +370 658 925 91.</p>
      <p class="text-h3 my-24">
        <strong>Kaip sužinoti apie šios politikos pakeitimus?</strong>
      </p>
      <p class="text-medium">
        Plečiantis veiklai ir paslaugoms, www.tipsters.lt gali prireikti
        atnaujinti šią Privatumo politiką. Dėl šios priežasties rekomenduojame
        Jums periodiškai apsilankyti www.tipsters.lt interneto svetainėje,
        kurioje visada rasite naujausią šios Privatumo politikos versiją.
      </p>
      <p class="text-medium">
        Jeigu bus atlikti esminiai šios politikos pakeitimai, apie tai iš anksto
        informuosime paskelbdami pranešimą tipsters.lt interneto svetainėje.
      </p>
    </section>
  </div>
</Layout>
