<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script>
		// select button

		window.addEventListener('load', () => {
			const buttons = document.querySelectorAll('.radio');
			buttons.forEach((button) => {
				button.addEventListener('click', () => {
					buttons.forEach((button) => {
						button.classList.remove('selected');
					});
					button.classList.add('selected');
				});
			});
		});

		const onSubmit = () => {
			const selectedButton = document.querySelector('.selected');
			const score = selectedButton.value;
			document.getElementById('score-to-display').innerHTML = score;
		};

	</script>

	<style>
		.radio {
			background: red;
			color: white;
			border: none;
		}


		.radio:hover {
			box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
		}

		.radio.selected {
			background-color: black;
		}
	</style>
</head>

<body>
	<div id="rates">
		<button class="radio" value="1">1</button>
		<button class="radio" value="2">2</button>
		<button class="radio" value="3">3</button>
		<button class="radio" value="4">4</button>
		<button class="radio" value="5">5</button>
	</div>
	<button onclick="onSubmit()">Submit</button>

	<h1 id="score-to-display"></h1>
</body>

</html>